<!DOCTYPE html>
<html>
    <head>
    
        <title>Primeiro server</title>
        
    </head>
    <body>
        <% include components/navbar.ejs %>
        <h1>LOGIN</h1>
        <form>
            <input type="text">
            
        </form>
    </body>
</html>